$white: #FFFFFF;
$black: #000000;
$light: #939393;
$dark: #333333;
$text: #9D9D9D;
$active: #3cb6e7;
$hover: #018ccf;
$second: #1E88E5;

$transition: all 0.3s ease;

/*@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1056px) {
}
@media screen and (min-width: 1348px) {
}
@media screen and (min-width: 1920px) {
}
*/
/*@media screen and (max-width: 650px) {
}*/


