header.header
    .container
        .header__top.flex.flex-space-between.flex-center-vertical
            .header__logo
                a(href='index.html').logo
                    img(src='images/logo.jpg' alt='company-logo')
            nav.header__nav.flex.flex-center-vertical
                ul.flex.flex-space-between.flex-center-vertical
                    li
                        a(href='') Home
                    li
                        a(href='') Find work
                    li
                        a(href='') Find Freelancers
                    li
                        a(href='') Log In
                    li
                        a(href='') Sign Up
                button.btn Post a project
