section.instructions-section
    .container
        .instructions-wrap.flex.flex-space-between.flex-center-vertical
            .instructions
                .instructions__wrap
                    .instructions__img
                        img(src='images/inst-img1.png' alt='instructions-img1')
                    small.instructions__title Create Account
                    p.instructions__text.text First you have to create a account  here
            .instructions
                .instructions__wrap
                    .instructions__img
                        img(src='images/inst-img2.png' alt='instructions-img2')
                    small.instructions__title Search work
                    p.instructions__text.text Search the best freelance work here
            .instructions
                .instructions__wrap
                    .instructions__img
                        img(src='images/inst-img3.png' alt='instructions-img3')
                    small.instructions__title Save and apply
                    p.instructions__text.text Apply or save and start your work