section.pagesSlider-section
    .container
        .slider-head
            p.slider-head__sub The latest freelance work!
            small.slider-head__title Recently Posted <span> Works</span>
        .pagesSlider-wrap
            .pagesSlider
                .pagesSlider-card
                    .pagesSlider-card__img
                        img(src='images/slider-img1.png' alt='slider-img1')
                    small.pagesSlider-card__title Logo Design
                    p.pagesSlider-card__text Need a professional logo with writing underneath for our jewellery company
                    .pagesSlider-card__footer.flex.flex-space-between.flex-center-vertical
                        p.pagesSlider-card__footer-price Highest bid $500
                        a(href='').pagesSlider-card__link Apply now
                .pagesSlider-card
                    .pagesSlider-card__img
                        img(src='images/slider-img2.png' alt='slider-img2')
                    small.pagesSlider-card__title Graphic Design
                    p.pagesSlider-card__text We need a graphic designer with UI/UX skills for our Furniture company
                    .pagesSlider-card__footer.flex.flex-space-between.flex-center-vertical
                        p.pagesSlider-card__footer-price Highest bid $500
                        a(href='').pagesSlider-card__link Apply now
                .pagesSlider-card
                    .pagesSlider-card__img
                        img(src='images/slider-img3.png' alt='slider-img3')
                    small.pagesSlider-card__title Need a SEO
                    p.pagesSlider-card__text Need a SEO for our company who will let our company to a higher level
                    .pagesSlider-card__footer.flex.flex-space-between.flex-center-vertical
                        p.pagesSlider-card__footer-price Highest bid $300
                        a(href='').pagesSlider-card__link Apply now
                .pagesSlider-card
                    .pagesSlider-card__img
                        img(src='images/slider-img2.png' alt='slider-img2')
                    small.pagesSlider-card__title Graphic Design
                    p.pagesSlider-card__text We need a graphic designer with UI/UX skills for our Furniture company
                    .pagesSlider-card__footer.flex.flex-space-between.flex-center-vertical
                        p.pagesSlider-card__footer-price Highest bid $500
                        a(href='').pagesSlider-card__link Apply now
                .pagesSlider-card
                    .pagesSlider-card__img
                        img(src='images/slider-img3.png' alt='slider-img3')
                    small.pagesSlider-card__title Need a SEO
                    p.pagesSlider-card__text Need a SEO for our company who will let our company to a higher level
                    .pagesSlider-card__footer.flex.flex-space-between.flex-center-vertical
                        p.pagesSlider-card__footer-price Highest bid $300
                        a(href='').pagesSlider-card__link Apply now
            .pagesSlider-container.flex.flex-space-between
                .slider-arrow.pagesSlider-prev
                    svg.icon
                        use(xlink:href="/images/sprites.svg#arr")
                .slider-arrow.pagesSlider-next
                    svg.icon
                        use(xlink:href="/images/sprites.svg#arr")
