section.intro-section
    .container
        .intro.flex
            .intro__info
                h1.intro__title Are you looking for Freelancers?
                p.intro__text Hire Great Freelancers, Fast. Spacelance helps you hire elite freelancers at a moment's notice
                .intro__btns.flex.flex-center-vertical
                    button.btn.secondary Hire a freelancer
                    include ../../components/search/search
            .intro__img
                img(src='images/intro-img.png' alt='intro-img')