section.find-intro-section
    .container
        .find-intro.flex.flex-space-between
            .find-intro__img
                img(src='images/find-intro-img.png' alt='find-intro-img')
                .find-intro__info-block.find-intro__info-block1
                    small.find-intro__info-title 500+
                    p.find-intro__info-sub.text freelancers
                .find-intro__info-block.find-intro__info-block2
                    small.find-intro__info-title 300+
                    p.find-intro__info-sub.text freelance work Posted
            .find-intro__info
                small.find-intro__title Find The Best <span> Freelancers </span> Here
                p.find-intro__sub.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat bibendum ornare urna, cursus eget convallis. Feugiat imperdiet posuere justo, ultrices interdum sed orci nunc, mattis. Ipsum viverra viverra neque adipiscing arcu, quam dictum. Dui mi viverra dui, sit accumsan, tincidunt massa. Dui cras magnis.


