footer.footer
	.container
		.footer-holder.flex.flex-space-between
			.footer-holder__wrap
				.footer-holder__logo
					a(href="index.html").logo
						img(src="images/logo.png", alt="logo")
				p.footer-holder__text Powerful Freelance Marketplace System with ability to change the Users (Freelancers & Clients)
				.footer-holder__icons.flex.flex-center-vertical.flex-space-between
					a(href='').footer-holder__icon
						svg
							use(xlink:href="/images/sprites.svg#inst")
					a(href='').footer-holder__icon.tw
						svg
							use(xlink:href="/images/sprites.svg#tw")
					a(href='').footer-holder__icon
						svg
							use(xlink:href="/images/sprites.svg#fb")

			.footer-holder__wrap
				small.footer-holder__title For Clients
				ul
					li
						a(href='') Find Freelancers
					li
						a(href='') Post Project
					li
						a(href='') Refund Policy
					li
						a(href='') Privacy Policy

			.footer-holder__wrap
				small.footer-holder__title For Freelancers
				ul
					li
						a(href='') Find Work
					li
						a(href='') Create Account

			.footer-holder__wrap
				small.footer-holder__title Call Us
				ul
					li
						a(href='').link Kenya
							svg
								use(xlink:href="/images/sprites.svg#point")
					li
						a(href="tel:25470000000").link +25470000000
							svg
								use(xlink:href="/images/sprites.svg#phone")
					li
						a(href='mailto:bluelance@gmail.com').link bluelance@gmail.com
							svg
								use(xlink:href="/images/sprites.svg#mail")
		p.footer-rights 2022 Spacelance. All right reserved
	.mobile-up(onclick="toTop();")
		svg
			use(xlink:href='images/sprite.svg#arr')
section.empty-block
