# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Верстка-работа\Сборка\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
